<h1>StaticPages#July07</h1>
<p>Find me in app/views/static_pages/July07.html.erb.</p>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Самоучитель HTML4 | htmlbook.ru</title>
		<link rel="search" type="application/opensearchdescription+xml" title="htmlbook.ru" href="/sites/search/search.xml">
		<link rel="alternate" type="application/rss+xml" title="Материалы с htmlbook.ru" href="//feeds.feedburner.com/htmlbook">		
		<link href="/themes/hb/css/style.css" rel="stylesheet" media="all">
		<link href="/themes/hb/css/print.css" rel="stylesheet" media="print">
				<script src="/themes/hb/min/?g=js"></script>
			</head>
	<body>
		<header>

	<div id="book-navigation" class="block">
		<h2 class="block_title">Содержание</h2>		<div class="block_content ">
			<ul class="menu"><li class="first leaf"><a href="/samhtml/vvedenie-v-html">Введение в HTML</a></li>
<li class="leaf"><a href="/samhtml/instrumentariy">Инструментарий</a></li>
<li class="collapsed"><a href="/samhtml/tegi">Теги</a></li>
<li class="leaf"><a href="/samhtml/struktura-html-koda">Структура HTML-кода</a></li>
<li class="collapsed"><a href="/samhtml/tipy-tegov">Типы тегов</a></li>
<li class="collapsed"><a href="/samhtml/znacheniya-atributov-tegov">Значения атрибутов тегов</a></li>
<li class="collapsed"><a href="/samhtml/tekst">Текст</a></li>
<li class="collapsed"><a href="/samhtml/ssylki">Ссылки</a></li>
<li class="leaf"><a href="/samhtml/yakorya">Якоря</a></li>
<li class="collapsed"><a href="/samhtml/izobrazheniya">Изображения</a></li>
<li class="collapsed"><a href="/samhtml/spiski">Списки</a></li>
<li class="collapsed"><a href="/samhtml/tablitsy">Таблицы</a></li>
<li class="collapsed"><a href="/samhtml/freymy">Фреймы</a></li>
<li class="last collapsed"><a href="/samhtml/validatsiya-dokumentov">Валидация документов</a></li>
</ul>		</div>
	</div>
					<div id="block-6" class="block">
				<div class="block_content ">
			 Скачать Adobe Flash Player на <a href="http://free-software.com.ua/players/adobe-flash-player/" target="_blank">http://free-software.com.ua/players/adobe-flash-player/</a> для Windows 7. <br /> Читайте <a href="http://zhzh.info/publ/9-1-0-9036" target="_blank">отзывы о vps.ua</a> в статье на zhzh.info. <br /> Заказ - <a href="https://web-site.help" target="_blank" rel="nofollow">https://web-site.help</a> 		</div>
	</div>
			</aside>
				<div id="block-16" class="block">
				<div class="block_content ">
			<div id="yandex_rtb_R-A-31105-1"></div>
<script>
    (function(w, d, n, s, t) {
        w[n] = w[n] || [];
        w[n].push(function() {
            Ya.Context.AdvManager.render({
                blockId: "R-A-31105-1",
                renderTo: "yandex_rtb_R-A-31105-1",
                async: true
            });
        });
        t = d.getElementsByTagName("script")[0];
        s = d.createElement("script");
        s.type = "text/javascript";
        s.src = "//an.yandex.ru/system/context.js";
        s.async = true;
        t.parentNode.insertBefore(s, t);
    })(this, this.document, "yandexContextAsyncCallbacks");
</script>		</div>
	</div>
			<div id="sidebar">
					<div id="views-practical-popular" class="block">
		<h2 class="block_title">Популярные задачи</h2>		<div class="block_content ">
			<div class="view view-practical view-id-practical view-display-id-popular view-dom-id-45e9b78d0dd19a8936ed104f234614f7">
        
  
  
      <div class="view-content">
      <div class="item-list">    <ul>          <li class="">  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/practical/eskiz">Эскиз</a></span>  </div></li>
          <li class="">  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/practical/obyazatelnye-polya-formy">Обязательные поля формы</a></span>  </div></li>
          <li class="">  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/practical/nalozhenie-sloev">Наложение слоев</a></span>  </div></li>
          <li class="">  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/practical/zagolovki">Заголовки</a></span>  </div></li>
          <li class="">  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/practical/forma-registratsii">Форма регистрации</a></span>  </div></li>
          <li class="">  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/practical/vlozhennye-spiski">Вложенные списки</a></span>  </div></li>
          <li class="">  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/practical/chereduyushchiesya-kvadraty">Чередующиеся квадраты</a></span>  </div></li>
          <li class="">  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/practical/flag-yaponii">Флаг Японии</a></span>  </div></li>
          <li class="">  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/practical/android-v-teni">Андроид в тени</a></span>  </div></li>
          <li class="">  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/practical/pole-dlya-igry-v-gomoku">Поле для игры в гомоку</a></span>  </div></li>
      </ul></div>    </div>
  
  
  
  
  
  
</div>		</div>
	</div>
					<div id="block-10" class="block">
				<div class="block_content ">
			<div id="yandex_rtb_R-A-31105-5"></div>
<script>
    (function(w, d, n, s, t) {
        w[n] = w[n] || [];
        w[n].push(function() {
            Ya.Context.AdvManager.render({
                blockId: "R-A-31105-5",
                renderTo: "yandex_rtb_R-A-31105-5",
                async: true
            });
        });
        t = d.getElementsByTagName("script")[0];
        s = d.createElement("script");
        s.type = "text/javascript";
        s.src = "//an.yandex.ru/system/context.js";
        s.async = true;
        t.parentNode.insertBefore(s, t);
    })(this, this.document, "yandexContextAsyncCallbacks");
</script>		</div>
	</div>
	<div id="block-31" class="block">
				<div class="block_content ">
			<iframe src="https://b.tml.io/htmlbook" width="240" height="400" frameBorder="0"></iframe>		</div>
	</div>
			</div>			
			<div id="content" class="three-col">
								
								<div class="tabs">
				
				</div>
								<h1 class="title">Самоучитель HTML4</h1>
				﻿
	<div id="like">
		<div class="num_comments"><a href="#disqus_thread"></a></div>
		<script>
			var disqus_shortname = 'htmlbook';
			(function () {
				var s = document.createElement('script'); s.async = true;
				s.type = 'text/javascript';
				s.src = '//' + disqus_shortname + '.disqus.com/count.js';
				(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
			}());
		</script>
	</div>					<div id="system-main" class="block">
				<div class="block_content ">
			<div class="info"><p class="date"><time datetime="2010-09-23">23.09.2010</time></p><p class="author">Влад Мержевич</p></div>
<div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even"><p>HTML (HyperText Markup Language, язык разметки гипертекста) — это система верстки, которая определяет, как и какие элементы должны располагаться на веб-странице. Информация на сайте, способ ее представления и оформления зависят исключительно от разработчика и тех целей, которые он перед собой ставит. </p>
<p>Данный самоучитель предназначен в первую очередь для начинающих,  только постигающих азы создания сайтов. Множество примеров, иллюстраций,  вопросов для проверки и заданий для самостоятельной работы помогут быстрее  изучить HTML. </p>

</div></div></div>  <div class="book-navigation">
    <ul class="menu"><li class="first leaf"><a href="/samhtml/vvedenie-v-html">Введение в HTML</a></li>
<li class="leaf"><a href="/samhtml/instrumentariy">Инструментарий</a></li>
<li class="collapsed"><a href="/samhtml/tegi">Теги</a></li>
<li class="leaf"><a href="/samhtml/struktura-html-koda">Структура HTML-кода</a></li>
<li class="collapsed"><a href="/samhtml/tipy-tegov">Типы тегов</a></li>
<li class="collapsed"><a href="/samhtml/znacheniya-atributov-tegov">Значения атрибутов тегов</a></li>
<li class="collapsed"><a href="/samhtml/tekst">Текст</a></li>
<li class="collapsed"><a href="/samhtml/ssylki">Ссылки</a></li>
<li class="leaf"><a href="/samhtml/yakorya">Якоря</a></li>
<li class="collapsed"><a href="/samhtml/izobrazheniya">Изображения</a></li>
<li class="collapsed"><a href="/samhtml/spiski">Списки</a></li>
<li class="collapsed"><a href="/samhtml/tablitsy">Таблицы</a></li>
<li class="collapsed"><a href="/samhtml/freymy">Фреймы</a></li>
<li class="last collapsed"><a href="/samhtml/validatsiya-dokumentov">Валидация документов</a></li>
</ul>
        <div class="page-links">
                          <a href="/samhtml/vvedenie-v-html" class="page-next" title="На следующую страницу">Введение в HTML<i class="arrow icon-next"></i></a>
          </div>
    
  </div>
 		</div>
	</div>
		
			<div id="block-26" class="block">
				<div class="block_content ">
			<div id="yandex_rtb_R-A-31105-2"></div>
<script>
    (function(w, d, n, s, t) {
        w[n] = w[n] || [];
        w[n].push(function() {
            Ya.Context.AdvManager.render({
                blockId: "R-A-31105-2",
                renderTo: "yandex_rtb_R-A-31105-2",
                async: true
            });
        });
        t = d.getElementsByTagName("script")[0];
        s = d.createElement("script");
        s.type = "text/javascript";
        s.src = "//an.yandex.ru/system/context.js";
        s.async = true;
        t.parentNode.insertBefore(s, t);
    })(this, this.document, "yandexContextAsyncCallbacks");
</script>		</div>
	</div>
				<p class="note comment-note">Не выкладывайте свой код напрямую в комментариях, он отображается некорректно. 
		Воспользуйтесь сервисом <a href="//cssdeck.com/labs" rel="nofollow">cssdeck.com</a> или <a href="//jsfiddle.net" rel="nofollow">jsfiddle.net</a>,
		сохраните код и в комментариях дайте на него ссылку. Так и результат сразу увидят.</p>

		<div id="disqus_thread"></div>
		<script>
        var disqus_shortname = 'htmlbook';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    
    			</div>
		</div>


		<footer>
		<section>
			<h4>О сайте</h4>
			<p><a href="/help">Помощь</a></p>
			<p><a href="/about/copy">Копирование материалов</a></p>
			<p><a href="/about/error">Борьба с ошибками</a></p>
			<p><a href="/about/tech">Технологии</a></p>
			<p><a href="/about/search">Поисковый плагин</a></p>
		</section>
		<section>
			<h4>Основные разделы</h4>
			<p><a href="/content">Статьи</a></p>
			<p><a href="/blog">Блог</a></p>
			<p><a href="/practical">Практикум</a></p>
			<p><a href="/books">Цифровые книги</a></p>
			<p><a href="//htmlforum.io" rel="nofollow">Форум</a></p>
		</section>
		<section>
			<h4>HTML</h4>
			<p><a href="/samhtml">Самоучитель HTML</a></p>
			<p><a href="/xhtml">XHTML</a></p>
			<p><a href="/html">Справочник по HTML</a></p>
			<p><a href="/html5">HTML5</a></p>
		</section>
		<section>
			<h4>CSS</h4>
			<p><a href="/samcss">Самоучитель CSS</a></p>
			<p><a href="/css">Справочник по CSS</a></p>
			<p><a href="/faq">Рецепты CSS</a></p>
			<p><a href="/css3">CSS3</a></p>
		</section>
		<section>
			<h4>Сайт</h4>
			<p><a href="/samlayout">Вёрстка</a></p>
			<p><a href="/layout">Макеты</a></p>
			<p><a href="/webserver">Веб-сервер</a></p>
		</section>
		<section class="hosting">
			<a href="http://dh.it-patrol.ru/drupal_hosting">htmlbook.ru использует Друпал хостинг it-patrol</a>
		</section>
		<p class="li"><script src="/themes/hb/js/li.js"></script></p>
		<p class="copyright">&copy; 2002–2019 Влад Мержевич, по всем вопросам пишите по адресу vlad@htmlbook.ru</p>
		<p><a href="http://feeds.feedburner.com/htmlbook" rel="nofollow">Подпишитесь на материалы сайта по RSS</a></p>
		</footer>
		<script src="/themes/hb/js/ads.js"></script>
	</body>
</html>


