<%#= render partial: 'common/header', locals: {active: 'bookmarks'} %>

<div class="row" style="margin-top: 20px;">

  <div class="col-xs-offset-1 col-xs-10">
    <input id="search-field" type="text" placeholder="Найти закладки">
  </div>

  <div class="col-xs-offset-1 col-xs-10" id="bookmarks-tree-container">
    <ul>
      <% @folders.each do |folder| %>
          <%= render partial: 'active_admin/page/folder', locals: {folder: folder} %>
      <% end %>
    </ul>
  </div>

</div>


<script>
  $(function () {
    setTimeout(function() {
      $('#bookmarks-tree-container').jstree({
        "plugins" : [ "search" ],
        "search": {

          "case_insensitive": true,
          "show_only_matches" : true
        }
      });
    }, 100);

    var to = false;
    $('#search-field').keyup(function () {
      if(to) { clearTimeout(to); }
      to = setTimeout(function () {
        var v = $('#search-field').val();
        $('#bookmarks-tree-container').jstree(true).search(v);
      }, 250);
    });
  });

  $("#bookmarks-tree-container").jstree(false).bind("select_node.jstree", function (e, data) {
    var href = data.node.a_attr.href;
    if (href != '#') {
      window.open(href, '_blank');
    }
  });
</script>
