<p id="notice"><%= notice %></p>

  <strong>Userid:</strong>
  <%= @student.user_id %>
</p>

  <strong>Signid:</strong>
  <%= @student.sign_id %>
</p>
<p>
  <strong>Country:</strong>
  <%= @student.country %>
</p>

<p>
  <strong>Fio:</strong>
  <%= @student.fio %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @student.lastname %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @student.firstname %>
<m/p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @student.comment %>
</p>

<p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
