<!--#Листинг 12.21: Форма для того, чтобы начать читать сообщения пользователя. app/views/users/_follow.html.erb  :12.33 

#<%#= form_for(current_user.active_relationships.build, remote: true) do |f| %>
-->
<%= form_for(current_user.active_relationships.build, remote: true) do |f| %>


<%#= form_for(current_user.active_relationships.build) do |f| %>
  <div><%= hidden_field_tag :followed_id, @user.id %></div>
  <%= f.submit "Follow", class: "btn btn-primary" %>
<% end %>

