<!-- #Листинг 12.22: Форма для того, чтобы перестать читать сообщения пользователя. app/views/users/_unfollow.html.erb :12.34
Листинг 12.34: Форма для того, чтобы перестать читать сообщения пользователя с Ajax. app/views/users/_unfollow.html.erb 
#<%#= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
             html: { method: :delete }) do |f| %>
 -->

             


<%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
             html: { method: :delete },
             remote: true) do |f| %>
  <%= f.submit "Unfollow", class: "btn" %>

 
<% end %>

