<!--13:29  #Листинг 9.2: Представление для редактирования пользователя app/views/users/#edit.html.erb  :11.42 #Листинг 11.42: :edit-->
<% provide(:title, "Edit user") %>  
<% @user ||= current_user %>
          
 <h1>Update user and sign</h1> 

===============
User
<%= form_with model: @user do |user_form| %> 
<%#= form_for([@user, @user.signs.build]) do |sign_form| %>  

     <%#= render 'shared/error_messages', object: user_form.object %>

      <%= user_form.label :name %>
      <%= user_form.text_field :name, class: 'form-control' %>

      <%= user_form.label :email %>
      <%= user_form.email_field :email, class: 'form-control' %>
     
      <%= user_form.label :password %>
      <%= user_form.password_field :password, class: 'form-control' %>

      <%= user_form.label :password_confirmation, "Confirmation" %>
      <%= user_form.password_field :password_confirmation, class: 'form-control' %>
          
=========================
 <p>Sign:                           
     <%= user_form.fields_for :signs  do |signs_form| %>
          <%= signs_form.label :signid %>
          <%= signs_form.number_field :id %>

          <%= signs_form.label :rolename %>
          <%= signs_form.text_field :rolename %>

          <%= signs_form.label :rolepodst_id%>
          <%= signs_form.number_field :rolepodst_id %>
<%#= signs_form.submit "Save form user+signs+(no students changes)", class: "btn btn-primary" %>
--------------------------
Students
<%= signs_form.fields_for :students  do |students_form| %>

<li>
          <%= students_form.label :userid %>
          <%= students_form.text_field :user_id %>

<%= students_form.label :signid %>
          <%= students_form.number_field :sign_id %>

<%= students_form.label :studentid %>
<%= students_form.text_field :id %>

          <%= students_form.label :country %>
          <%= students_form.text_field :country %>

        <%= students_form.label :fio %>
        <%= students_form.text_field :fio %>

               <%= students_form.label :lastname %>
               <%= students_form.text_field :lastname %>

               <%= students_form.label :firstname %>
               <%= students_form.text_field :firstname %>

               <%#= students_form.label :comment %>
                       <%#= students_form.text_field :comment %>
</li>
-------------------------------
posts
<%= students_form.fields_for :posts  do |posts_form| %>
          <%= posts_form.label :postid %>
          <%= posts_form.number_field :id %>
<%= posts_form.label :content %>
<%= posts_form.text_field :content %>


       
     <%#= students_form.submit "Save student changes", class: "btn btn-primary" %>

<%#= form.submit "Save form user+students changes", class: "btn btn-primary" %>
      </li>
<%#= form.submit "Save form user+students changes", class: "btn btn-primary" %>


 <%#= students_form.submit "Save students_form changes", class: "btn btn-primary" %>
           
-----------------
<%= user_form.submit "Save user_form.submit", class: "btn btn-primary" %>
 <% end %>          
          <% end %><% end %>
          <% end %>
