<!--#Листинг 5.35: 
#User.new Листинг 7.13: Форма регистрации новых пользователей. app/views/users/#new.html.erbЛистинг 7.18: 
#Листинг 10.33. Обновление рендеринга ошибок регистрации пользователей.:11.41
# -->

<% provide(:title, 'Sign up') %>
<h1>Sign up Sept_19 2021</h1>
<h2>~/rolesru/app/views/users/new</h2>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
       <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %><p>
      <%= f.label :email %>
     <%= f.email_field :email, class: 'form-control' %>
      <%= f.label :password %>
      <%= f.password_field :password %><p><p>

      <%= f.label :password_confirmation, "Password Confirmation" %><p><p>
     <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
