<!-- #libr  Sept 01 Листинг 7.10: Добавление боковой панели к представлению пользователя show. app/views/users/show.html.erb
#Листинг 7.4:Листинг 7.8:Листинг 7.10 :11.23 :12.23-->
<p><p><p>
<%# provide(:title, @user.name) %> 
<% provide(:title, "Show user") %>
<%#no! provide(:title, @current_user) %> 
<% @user ||= current_user %>

<!--<li><%#= link_to "Create student", root_path %></li> -->
 
<div class="row">
  <aside class="col-md-4">
         <section>
           <h1>
 @current_user.name=<%= @user.name %>

@current_user.id=<%= @user.id %>
           </h1>
         </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>

  </aside>
</div>
<!--
  <div class="col-md-8">
    <%#Sept_28 = render 'follow_form' if logged_in? %>
    <%#Sept_28 if @user.microposts.any? %>
      <h3>(<%#= @user.microposts.count %>) Microposts of the user = <%= @user.name %>  </h3> 
 #Oct_11
# if @user.signs.students.microposts.any? %>
      <h3> Microposts (<%#= @user.signs.students.microposts.count %>) 
-->
<%#= @user.name %>  </h3> 
      


      <ol class="microposts">
        <%#= render @microposts %>
      </ol>
      <%#= will_paginate @microposts %>
    <%# end %>
<%#Sept_28 end %>

  </div>
</div>
<section class="sign">
                 <%#= render 'shared/sign_form' %>
           </section>



<h2>create sign !!! /users/show<p></h2>
 
<!--userid=<%#= f.number_field :user_id %>

     
rolepodst_id=<%#= f.number_field :rolepodst_id %>  
    
sign.rolename=<%#= f.text_field :rolename %>  -->
=======



 <%= form_for([@user, @user.signs.build]) do |sign_form| %>   
          userid=<%=sign_form.number_field :user_id %>
          rolepodst_id=<%=sign_form.number_field :rolepodst_id %>  
          sign.rolename=<%= sign_form.text_field :rolename %>
  </div>
  

<%#= f.submit "Post_create Sign", class: "btn btn-primary" %>

<%= sign_form.submit "Post_create Sign", class: "btn btn-primary" %>

<%end %>

<%#= form_with model: [ @sign, @sign.students.build ] do |form| %>

user_id<%#= form.number_field :user_id %>

sign_id<%#= form.number_field :sign_id %>

fio<%#= form.text_field :fio %>

 <span class="picture">
        <%#= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>



