<!--#Листинг 11.46: Партиал для ленты сообщений. app/views/shared/_feed.html.erb 
app/views/shared/_feed.html.erb
11.49 удаление micropost -->

<%# if @feed_items.any? %>
  <ol class="microposts">
    <%#= render @feed_items %>
  </ol>
  <%#= will_paginate @feed_items %>
<%# end %>

