<h1>Editing Sign</h1>
<!--13:29  #Листинг 9.2: Представление для редактирования пользователя app/views/users/#edit.html.erb  :11.42 #Листинг 11.42: :edit-->
<% provide(:title, "Edit user") %>  
<% @user ||= current_user %>
          
 <h1>Update user and sign</h1> 

===============
User
<%= form_with model: @user do |user_form| %>
     <%= render 'shared/error_messages', object: user_form.object %>

      <%= user_form.label :name %>
      <%= user_form.text_field :name, class: 'form-control' %>

      <%= user_form.label :email %>
      <%= user_form.email_field :email, class: 'form-control' %>
     
      <%= user_form.label :password %>
      <%= user_form.password_field :password, class: 'form-control' %>

      <%= user_form.label :password_confirmation, "Confirmation" %>
      <%= user_form.password_field :password_confirmation, class: 'form-control' %>
          
=========================
 <p>Sign:                           
     <%= user_form.fields_for :signs  do |signs_form| %>
          <%= signs_form.label :id %>
          <%= signs_form.number_field :id %>

          <%= signs_form.label :rolename %>
          <%= signs_form.text_field :rolename %>

          <%= signs_form.label :rolepodst_id%>
          <%= signs_form.number_field :rolepodst_id %>
<%= signs_form.submit "Save form user+signs+(no students changes)", class: "btn btn-primary" %>
--------------------------

<%#= user_form.submit "Save user_form.submit", class: "btn btn-primary" %>
 <% end %>          
          <%# end %>
          <% end %>
