<p id="notice"><%= notice %></p>

<h1>Signs</h1>

<table>
  <thead>
    <tr>
          <th>Userid</th>
           <th>Signid</th>
           <th>Rolename</th>
           <th>Rolepodst</th>
           
           <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @signs.each do |sign| %>
      <tr>
<td><%= sign.user_id %></td>
<td><%= sign.id %></td>
<td><%= sign.rolename %></td>
<td><%= sign.rolepodst_id %></td>
        

        <td><%= link_to 'Show', sign %></td>
        <td><%= link_to 'Edit', edit_sign_path(sign) %></td>
        <td><%= link_to 'Destroy', sign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sign', new_sign_path %>
