
#common/_header
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= active == 'home' ? 'active' : '' %>"><%= link_to('Домашняя страница', root_path) %></li>
        <li class="<%= active == 'bookmarks' ? 'active' : '' %>"><%= link_to('Панель закладок', folders_path) %></li>
        <li class="<%= active == 'articles' ? 'active' : '' %>"><%= link_to('Поиск статей', articles_path) %></li>
        <li class="<%= active == 'report' ? 'active' : '' %>"><%= link_to('Формирование отчетности', reports_path) %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%#= link_to("{current_user.login} : Выйти?", destroy_user_session_path, :method => :delete) %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
